__pycache__
data/__pycache__
data/CPT*
IndicGenBench/xquad_in*
IndicGenBench/xorqa_in*
IndicGenBench/qwen_benchmark_results*
IndicGenBench/flores_in*
IndicGenBench/crosssum_in*
IndicGenBench/__pycache__*
IndicGenBench/qwen_ft_benchmark_results*
IndicGenBench/qwen_ft_ollama_benchmark_results*
IndicGenBench/qwen_ft_ollama_full_benchmark_results*
.env
sft_training\BPCC_SFT_Assessment.md
sft_training\Additional_Indic_SFT_Datasets.md
IndicAlign_SFT_Assessment.md
CURATION_PLAN_SFT_DPO.md
*.jsonl
data\capped\cap_report.json